@page "/"
@using Classes;

<PageTitle>BlazingDarts</PageTitle>

@if(playing){
<div>
    <div class="ScoreBoard">
        @foreach(Player player in players){
            <label>Name:@player.name</label>
            <input type="text" @bind="@player.score" readonly />
        }
    </div>
    <div class="InputContainer">
        <div class="RadioButtonContainer">
            <label class="RadioLabel">
                <input type="radio" @bind="@multiplikator"/> Single
            </label>
            <label class="RadioLabel">
                <input type="radio" @bind="@multiplikator"/> Double
            </label>
            <label class="RadioLabel">
                <input type="radio" @bind="@multiplikator"/> Triple
            </label>
        </div>
        <div class="ButtonsContainer">
            @foreach (var row in Enumerable.Range(1, 5))
            {
                <div class="Buttons" key="@row">
                    @foreach (var num in Enumerable.Range(1, 4))
                    {
                        <button class="Numberbutton" @onclick="() => HandleThrow((row - 1) * 4 + num)" key="@num">
                            @((row - 1) * 4 + num)
                        </button>
                    }
                </div>
            }
            <div class="Buttons">
                <button class="Numberbutton" @onclick="() => HandleThrow(25)">Bull</button>
                <button class="Missedbutton" @onclick="() => HandleThrow(0)">Miss</button>
            </div>
        </div>
    </div>
</div>   
}
else{
    <input type="text" @bind="playerName"/>
    <ul>
        @foreach(Player player in players){
            <li>@player.name</li>
        }
    </ul>
    <button @onclick="() => {
        players.Add(new Player(playerName));
        playerName = string.Empty;
        }"
    >Add Player</button>
    <button @onclick="() => {playing = true;}">Start Game</button>
}


@code {
    private bool playing = false;
    private string playerName;
    private int multiplikator = 1;
    private List<Player> players = [];

    private void AddPlayer(){
        Player player = new(playerName);
        players.Add(player);
    }

    private void HandleThrow(int value)
    {
        // Handle throw logic here
    }
}