@page "/"
@using Classes;
@inject Api api;

<PageTitle>BlazingDarts</PageTitle>

@if(playState == PlayState.playing){
    <div>
        <div class="ScoreBoard">
            @foreach(Player player in players){
                <label>Name: @player.name</label>
                @if(player == currentPlayer)
                {
                    <input type="text" @bind="@player.score" class="score-input" readonly />
                }
                else
                {
                    <input type="text" @bind="@player.score" readonly />
                }             
            }
        </div>
        <div class="btn-group-vertical">
            <InputSelect @bind-Value="multiplikator">
                <option value="1">Single</option>
                <option value="2">Double</option>
                <option value="3">Triple</option>
            </InputSelect>
            <div class="btn-group-vertical">
                @foreach (var row in Enumerable.Range(1, 5))
                {
                    <div class="btn-group" key="@row">
                        @foreach (var num in Enumerable.Range(1, 4))
                        {
                            <button class="btn-primary custom-btn" @onclick="async() => await HandleThrow((row - 1) * 4 + num)" key="@num">
                                @((row - 1) * 4 + num)
                            </button>
                        }
                    </div>
                }
                <div class="btn-group">
                    <button class="btn-primary custom-btn" @onclick="async() => await HandleThrow(25)">Bull</button>
                    <button class="btn-secondary custom-btn" @onclick="async() => await HandleThrow(0)">Miss</button>
                </div>
            </div>
        </div>
    </div>
}
else if(playState == PlayState.customerSelect){
    <div>
        <input type="text" @bind="playerName"/>
        <button @onclick="() => AddPlayer()">Add Player</button>
    </div>   
    <ul>
        @foreach(Player player in players){
            <li>@player.name</li>
        }
    </ul>  
    <button @onclick="() => StartGame()">Start Game</button>
}
else if(playState == PlayState.resultScreen){
    <h1>Winner: @currentPlayer?.name</h1>
    <button @onclick="() => ResetGame()">New Game</button>
}


@code {
    public enum PlayState{
        customerSelect,
        playing,
        resultScreen
    }

    public PlayState playState = PlayState.customerSelect;
    public string playerName = string.Empty;
    public int multiplikator = 1;
    public List<Player> players = [];

    private Player? currentPlayer;
    private int playerIndex = 0;

    private async Task HandleThrow(int value)
    {
        int hit = multiplikator * value;
        currentPlayer!.score -= hit;
        currentPlayer!.AddThrow(hit);

        if(currentPlayer.score == 0 && multiplikator == 2)
        {
            //Checkout
            await GameWon(currentPlayer);
        }
        else if(currentPlayer.score <= 1)
        {
            //over throw
            currentPlayer.ResetLastThree();
        }

        if(currentPlayer.lastThree.third is not null)
        {
            //next player
            currentPlayer.throws.Add(currentPlayer.lastThree);
            currentPlayer.lastThree = (null, null, null);

            if(playerIndex == players.Count - 1)
            {
                playerIndex = 0;
            }
            else
            {
                playerIndex++;
            }
            currentPlayer = players[playerIndex];
        }
    }

    private void AddPlayer(){
        if(players.Count() == 2) return;
        players.Add(new Player(playerName));
        playerName = string.Empty;
    }

    private void StartGame(){
        if(players.Count() != 2) return;
        playState = PlayState.playing;
        currentPlayer = players[playerIndex]; 
    }

    private async Task GameWon(Player winner)
    {
        winner.throws.Add(currentPlayer!.lastThree);
        winner.lastThree = (null, null, null);
        //win game or so
        winner.legsWon++;
        playState = PlayState.resultScreen;

        await api.SendMatch(players.ToList());
    }

    private void ResetGame()
    {
        playState = PlayState.customerSelect;
        playerName = string.Empty;
        multiplikator = 1;
        players = [];

        currentPlayer = null;
        playerIndex = 0;
    }
}